Raspberry pi configuration/flows.json
[{"id":"14596d8.fd98493","type":"tab","label":"IoT Garden","disabled":false,"info":""},{"id":"95f2e995.fffba8","type":"tab","label":"tests","disabled":false,"info":""},{"id":"8e9347c4.2d7818","type":"ui_tab","z":"","name":"IoT Garden","icon":"fa-thermometer-half","disabled":false,"hidden":false},{"id":"a72b99da.40ba78","type":"ui_group","z":"","name":"Φωτισμός","tab":"dccd8806.335d58","disp":true,"width":"8","collapse":false,"info":"# fghfgjhgfj\n * a\n * b\n * c\n * "},{"id":"f295b52c.05e448","type":"ui_group","z":"","name":"Φωτογραφία","tab":"dccd8806.335d58","disp":true,"width":"8","collapse":false},{"id":"7b15d6b3.f1f708","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0080ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8f5fad9.a856e8","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"2c06a064.dee3a","type":"mqtt-broker","z":"","name":"mosquitto-rasp1","broker":"localhost","port":"1883","clientid":"ESP32_EK1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"testTopic","birthQos":"0","birthPayload":"NodeRed connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e55d65a.0f64a8","type":"ui_group","z":"","name":"Presure","tab":"8e9347c4.2d7818","disp":false,"width":"6","collapse":false},{"id":"44ffa1be.1518e","type":"ui_group","z":"","name":"tests","tab":"e8f5fad9.a856e8","disp":true,"width":"6","collapse":false},{"id":"cd5a7b41.b313d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"IoTGarden","name":"","usetls":false,"tls":""},{"id":"d408478e.88aa18","type":"ui_group","z":"","name":"Soil","tab":"8e9347c4.2d7818","disp":false,"width":"9","collapse":false},{"id":"dccd8806.335d58","type":"ui_tab","z":"","name":"Control Devices","icon":"fa-microchip","disabled":false,"hidden":false},{"id":"785cc25e.1b45cc","type":"ui_group","z":"","name":"Temperature","tab":"8e9347c4.2d7818","disp":false,"width":"6","collapse":false},{"id":"7953a0c6.83295","type":"ui_group","z":"","name":"Humidity","tab":"8e9347c4.2d7818","disp":false,"width":"6","collapse":false},{"id":"5f56c4cf.96a8dc","type":"ui_group","z":"","name":"Fluid_level","tab":"8e9347c4.2d7818","disp":false,"width":"9","collapse":false},{"id":"3ceed909.284556","type":"ui_group","z":"","name":"email","tab":"8e9347c4.2d7818","disp":false,"width":"9","collapse":false},{"id":"7708ebbb.def864","type":"inject","z":"95f2e995.fffba8","name":"Local Time","topic":"My first UI","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":120,"wires":[["59841e10.9b8fc"]]},{"id":"d81124ca.067878","type":"debug","z":"95f2e995.fffba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":100,"wires":[]},{"id":"67f013fc.c6e78c","type":"inject","z":"95f2e995.fffba8","name":"","topic":"group2","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["af78b0.65fb575"]]},{"id":"af78b0.65fb575","type":"random","z":"95f2e995.fffba8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":280,"y":420,"wires":[["63ebf9bb.ea7d28"]]},{"id":"59841e10.9b8fc","type":"function","z":"95f2e995.fffba8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["d81124ca.067878","14f25dd9.965232","2e740169.1db6de"]]},{"id":"8aa76b6e.b70608","type":"mqtt in","z":"14596d8.fd98493","name":"GH_mqttin_temp1","topic":"GH/temperature","qos":"0","datatype":"auto","broker":"2c06a064.dee3a","x":110,"y":80,"wires":[["9d39396.c771cc8","a4a772d9.c56a1","7e17306f.34fa9"]]},{"id":"9d39396.c771cc8","type":"ui_chart","z":"14596d8.fd98493","name":"temp1_chart","group":"785cc25e.1b45cc","order":1,"width":"0","height":"0","label":"Θερμοκρασία","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#c1434b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c92526","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":40,"wires":[[]]},{"id":"4b0a09b3.fac048","type":"ui_template","z":"14596d8.fd98493","group":"f295b52c.05e448","name":"Image","order":3,"width":"8","height":"8","format":"<!--<div ng-bind-html=\"msg.payload\">-->\n<!--<h1>{{msg.payload}}</h1>-->    \n<img id=\"theImg\" src={{msg.payload}} alt={{msg.payload}}\n     style=\"width:80%; display:block;margin:auto\"/>    \n<!--<script>\n    scope.$watch('msg', function(msg){\n        \n        document.getElementById(theImg).src=\"/image.jpg\"\n    })\n    \n</script>\n-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":290,"y":1100,"wires":[[]]},{"id":"dde3d41c.7bcdd8","type":"mqtt in","z":"14596d8.fd98493","name":"ImageResieved","topic":"piCam/ImgRecieved","qos":"2","datatype":"auto","broker":"2c06a064.dee3a","x":120,"y":1120,"wires":[["4b0a09b3.fac048"]]},{"id":"a7eeee88.6fb8f","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":1160,"wires":[]},{"id":"e1633294.3759b","type":"ui_button","z":"14596d8.fd98493","name":"","group":"f295b52c.05e448","order":5,"width":"0","height":"0","passthru":false,"label":"Λήψη φωτογραφίας","tooltip":"","color":"red","bgcolor":"cyan","icon":"fa-camera","payload":"new_picture","payloadType":"str","topic":"piCam/ImgButton","x":130,"y":1200,"wires":[["c649407.8c70ac"]]},{"id":"c649407.8c70ac","type":"mqtt out","z":"14596d8.fd98493","name":"","topic":"piCam/NewImg","qos":"","retain":"","broker":"2c06a064.dee3a","x":380,"y":1200,"wires":[]},{"id":"42ad2c80.b5c8a4","type":"inject","z":"14596d8.fd98493","name":"test_lights","topic":"lights","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1300,"wires":[["4219ec1c.0586e4"]]},{"id":"4219ec1c.0586e4","type":"mqtt out","z":"14596d8.fd98493","name":"mqttout_lights","topic":"GH/lights","qos":"","retain":"","broker":"2c06a064.dee3a","x":340,"y":1320,"wires":[]},{"id":"4d1d0c0f.9879b4","type":"ui_button","z":"14596d8.fd98493","name":"lights_button","group":"a72b99da.40ba78","order":5,"width":"0","height":"0","passthru":false,"label":"Ρύθμιση Φωτισμού","tooltip":"","color":"green","bgcolor":"yellow","icon":"fa-lightbulb-o","payload":"ON_OF","payloadType":"str","topic":"GH/lights","x":110,"y":1340,"wires":[["4219ec1c.0586e4"]]},{"id":"a4a772d9.c56a1","type":"ui_gauge","z":"14596d8.fd98493","name":"temp1_gauge","group":"785cc25e.1b45cc","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":360,"y":80,"wires":[]},{"id":"63ebf9bb.ea7d28","type":"ui_gauge","z":"95f2e995.fffba8","name":"","group":"44ffa1be.1518e","order":1,"width":"3","height":"3","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":420,"wires":[]},{"id":"14f25dd9.965232","type":"ui_chart","z":"95f2e995.fffba8","name":"sec name","group":"44ffa1be.1518e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":220,"wires":[[]]},{"id":"2e740169.1db6de","type":"ui_text","z":"95f2e995.fffba8","group":"44ffa1be.1518e","order":0,"width":"4","height":"4","name":"first name","label":"Current time","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":160,"wires":[]},{"id":"ceb40403.51f678","type":"ui_template","z":"14596d8.fd98493","group":"a72b99da.40ba78","name":"update_lamp_img","order":1,"width":"8","height":"8","format":"<img src={{msg.payload}} alt={{msg.payload}}\n     style=\"width:50%; display:block;margin:auto\"/>  \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":1420,"wires":[[]]},{"id":"b5df1b1a.85a7c8","type":"mqtt in","z":"14596d8.fd98493","name":"mqttin_lights","topic":"GH/lightsONOF","qos":"2","datatype":"auto","broker":"2c06a064.dee3a","x":110,"y":1420,"wires":[["ceb40403.51f678"]]},{"id":"a7f70d1.a03fbf","type":"mqtt in","z":"14596d8.fd98493","name":"my_mqttin_2","topic":"GH/pressure","qos":"0","datatype":"auto","broker":"2c06a064.dee3a","x":90,"y":260,"wires":[["e0157ae.e1ad588","801c4ce9.1916c","f7a3eb18.e7b7e8"]]},{"id":"d2899c6f.6385","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":340,"wires":[]},{"id":"e0157ae.e1ad588","type":"ui_chart","z":"14596d8.fd98493","name":"","group":"6e55d65a.0f64a8","order":1,"width":"0","height":"0","label":"Ατμοσφαιρική πίεση","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#179c56","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ce2627","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":220,"wires":[[]]},{"id":"801c4ce9.1916c","type":"ui_gauge","z":"14596d8.fd98493","name":"","group":"6e55d65a.0f64a8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"hPa","format":"{{value}}","min":"900","max":"1200","colors":["#179c56","#179c56","#179c56"],"seg1":"","seg2":"","x":270,"y":260,"wires":[]},{"id":"5f861502.1cc9ac","type":"influxdb out","z":"14596d8.fd98493","influxdb":"cd5a7b41.b313d8","name":"","measurement":"temperature","precision":"","retentionPolicy":"","x":650,"y":100,"wires":[]},{"id":"7e17306f.34fa9","type":"function","z":"14596d8.fd98493","name":"extr_temp","func":"var t=parseFloat(msg.payload)\nglobal.set('varTemperature', msg.payload)\nmsg.payload={\n    location:\"bme280_1\",\n    temp:t\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["5f861502.1cc9ac"]]},{"id":"df281f84.1abc1","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"89a261af.209ec","type":"mqtt in","z":"14596d8.fd98493","name":"my_mqttin_soil","topic":"GH/soilMoisture1","qos":"0","datatype":"auto","broker":"2c06a064.dee3a","x":100,"y":600,"wires":[["29f0b1f8.32057e","361ff9b9.456626"]]},{"id":"763c12b8.299bdc","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":660,"wires":[]},{"id":"f7a3eb18.e7b7e8","type":"function","z":"14596d8.fd98493","name":"extr_temp","func":"var b=parseFloat(msg.payload)\nmsg.payload={\n    location:\"bme280_1\",\n    barometric:b\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["956054ab.74c0a8"]]},{"id":"956054ab.74c0a8","type":"influxdb out","z":"14596d8.fd98493","influxdb":"cd5a7b41.b313d8","name":"","measurement":"barometric","precision":"","retentionPolicy":"","x":570,"y":300,"wires":[]},{"id":"29f0b1f8.32057e","type":"function","z":"14596d8.fd98493","name":"extr_temp","func":"var m=parseFloat(msg.payload)\nmsg.payload={\n    location:\"soilSensor_1\",\n    temp:m\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":620,"wires":[[]]},{"id":"2f425657.f5f3aa","type":"influxdb out","z":"14596d8.fd98493","influxdb":"cd5a7b41.b313d8","name":"","measurement":"soilmoisture","precision":"","retentionPolicy":"","x":570,"y":620,"wires":[]},{"id":"ecbf970d.1a2228","type":"inject","z":"14596d8.fd98493","name":"test_lights","topic":"lights","payload":"/lights_OFF.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1480,"wires":[["ceb40403.51f678"]]},{"id":"9c7a2cba.6a607","type":"mqtt in","z":"14596d8.fd98493","name":"GH_mqttin_hum1","topic":"GH/humidity","qos":"0","datatype":"auto","broker":"2c06a064.dee3a","x":120,"y":440,"wires":[["8dbdf6bb.2157e8","398f956d.c546da","e33e38b.80bc0c8"]]},{"id":"8dbdf6bb.2157e8","type":"ui_chart","z":"14596d8.fd98493","name":"hum1_chart","group":"7953a0c6.83295","order":1,"width":"0","height":"0","label":"Υγρασία αέρα","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e38126","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ce2627","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":400,"wires":[[]]},{"id":"398f956d.c546da","type":"function","z":"14596d8.fd98493","name":"extr_temp","func":"var h=parseFloat(msg.payload)\nglobal.set('varHumidity', msg.payload)\nmsg.payload={\n    location:\"bme280_1\",\n    hum:h\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["5e7f32de.aaa6cc"]]},{"id":"4f74d26c.45fbcc","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":520,"wires":[]},{"id":"684ac1ae.3bfcb","type":"inject","z":"14596d8.fd98493","name":"","topic":"GH/initHum","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1560,"wires":[["dd16cfff.bf196"]]},{"id":"dd16cfff.bf196","type":"mqtt out","z":"14596d8.fd98493","name":"","topic":"GH/initHum","qos":"","retain":"","broker":"2c06a064.dee3a","x":310,"y":1560,"wires":[]},{"id":"e33e38b.80bc0c8","type":"ui_gauge","z":"14596d8.fd98493","name":"hum1_gauge","group":"7953a0c6.83295","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#e38126","#e38126","#e38126"],"seg1":"","seg2":"","x":370,"y":440,"wires":[]},{"id":"361ff9b9.456626","type":"ui_gauge","z":"14596d8.fd98493","name":"","group":"d408478e.88aa18","order":3,"width":"6","height":"6","gtype":"gage","title":"Υγρασία Εδάφους","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#378cce","#378cce","#378cce"],"seg1":"","seg2":"","x":310,"y":580,"wires":[]},{"id":"27049c3d.d75424","type":"ui_button","z":"14596d8.fd98493","name":"","group":"d408478e.88aa18","order":5,"width":"6","height":"1","passthru":false,"label":"Μέτρηση υγρασίας","tooltip":"","color":"blue","bgcolor":"lightblue","icon":"fa-tint","payload":"do_mesurement","payloadType":"str","topic":"GH/mesSoil1","x":110,"y":700,"wires":[["a3381f10.d26f9"]]},{"id":"a3381f10.d26f9","type":"mqtt out","z":"14596d8.fd98493","name":"do_messurement","topic":"GH/mesSoil1","qos":"","retain":"","broker":"2c06a064.dee3a","x":330,"y":700,"wires":[]},{"id":"8ee72624.2f32f8","type":"mqtt in","z":"14596d8.fd98493","name":"my_mqttin_level","topic":"GH/fluidLevel","qos":"0","datatype":"auto","broker":"2c06a064.dee3a","x":100,"y":800,"wires":[["9d5e4c82.d0ef9","aa565ba7.c20d18"]]},{"id":"528e2273.28598c","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":820,"wires":[]},{"id":"9d5e4c82.d0ef9","type":"function","z":"14596d8.fd98493","name":"extr_temp","func":"var m=parseFloat(msg.payload)\nmsg.payload={\n    location:\"soilSensor_1\",\n    temp:m\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":820,"wires":[[]]},{"id":"aa565ba7.c20d18","type":"ui_gauge","z":"14596d8.fd98493","name":"","group":"5f56c4cf.96a8dc","order":3,"width":"6","height":"6","gtype":"gage","title":"Στάθμη νερού","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#60e3e9","#60e3e9","#60e3e9"],"seg1":"","seg2":"","x":300,"y":780,"wires":[]},{"id":"286ae4cd.dc99dc","type":"ui_button","z":"14596d8.fd98493","name":"","group":"5f56c4cf.96a8dc","order":5,"width":"6","height":"1","passthru":false,"label":"Μέτρηση στάθμης νερού","tooltip":"","color":"blue","bgcolor":"lightblue","icon":"fa-hourglass-half","payload":"do_mesurement","payloadType":"str","topic":"GH/mesLevel","x":130,"y":900,"wires":[["dc1d4ebc.67443"]]},{"id":"dc1d4ebc.67443","type":"mqtt out","z":"14596d8.fd98493","name":"do_messurement","topic":"GH/mesLevel","qos":"","retain":"","broker":"2c06a064.dee3a","x":390,"y":900,"wires":[]},{"id":"b8ad67f6.4a2df8","type":"e-mail","z":"14596d8.fd98493","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"belli.2epal@gmail.com","dname":"","x":740,"y":1200,"wires":[]},{"id":"134bd45d.169e3c","type":"function","z":"14596d8.fd98493","name":"","func":"var t=global.get('varTemperature');\nvar h=global.get('varHumidity');\n\ntxt=\"Σας ενημερώνουμε ότι στο φυτώριο που βρίσκεται στο ΕΚ Ευόσμου, \"+\n   \"αυτή τη στιγμή η θερμοκρασία είναι \"+t+\n   \"C, και η υγρασία στο χώρο είναι \"+h+\"%\";\nvar subj=\"Επισκόπηση συνθηκών φυτωρίου \"+Date().toString()\nmsg={\n    payload:txt,\n    to: \"belli.2epal@gmail.com\",\n    topic:subj,\n    /*description:subj,*/\n    /*html:'Embedded image: <img src=\"cid:unique@nodemailer.com\"/>',\n    attachments:[{\n        filename:'lights_OFF.jpg',\n        path:'/',\n        cid: 'unique@nodemailer.com',\n    }] \n    */\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1160,"wires":[["b8ad67f6.4a2df8","83e6c42b.3a1f38"]]},{"id":"83e6c42b.3a1f38","type":"debug","z":"14596d8.fd98493","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1260,"wires":[]},{"id":"5956e8c2.ff4f28","type":"ui_button","z":"14596d8.fd98493","name":"mailButton","group":"3ceed909.284556","order":0,"width":0,"height":0,"passthru":false,"label":"Αποστολή μηνύματος ηλεκτρονικού ταχυδρομείου","tooltip":"","color":"","bgcolor":"","icon":"fa-envelope","payload":"","payloadType":"str","topic":"","x":550,"y":1100,"wires":[["134bd45d.169e3c"]]},{"id":"5e7f32de.aaa6cc","type":"influxdb out","z":"14596d8.fd98493","influxdb":"cd5a7b41.b313d8","name":"","measurement":"humidity","precision":"","retentionPolicy":"","x":600,"y":480,"wires":[]}]